snippet sl
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
snippet fun
	function [ ${1:output_args} ] = ${2:functionName}( ${3:input_args} )
		$4
snippet for
	for ${1:i} = ${2:from}:${3:to}

	end
snippet if
	if ${1:condition}

	end
