snippet vgt
	include { "./Source/vdcov/common_env.vgh" }

	test {
		info {
			desc : "${1:Description}"
		}
		envars {
			QADEBUG { "1" }
		}
		stages {
			system {
				cmd: "cp -rf <Dir_Name>/<File_Name>/* ."
			}
			vdcov {
				args: " -script <Dir_Name>/<File_Name>.cmd",
				output_file : "vdCov.log"
			}
		}
		filter {
			consider_logs {
				files : "vdCov.log"
			}
		}
	}
