snippet sl
	###############################################################################
snippet array
	my @${1:array} = qw(${2:a b c d});
snippet hash
	my %${1:hash} = (${2:"key"}=>${3:"value"});
