snippet utf8
	# -*- coding: utf-8 -*-
snippet sl
	###############################################################################
snippet shell
	import subprocess
	def shell(command):
	    """docstring for shell"""
	    pipe = subprocess.Popen(command, stdout=subprocess.PIPE, shell=True)
	    (output, err) = pipe.communicate()
	    return output
